<h1 class="">Editing project</h1>

<div class="d-flex  justify-content-center">

<%= render "form", project: @project %>
</div>
<br>

<div class="d-flex justify-content-center">
  <%= link_to "Show this project", @project , class: "mx-2 btn btn-info" %> 
  <%= link_to "Back to projects", projects_path , class: "btn btn-dark" %>
</div>
