<h1 class="d-flex justify-content-center">New project</h1>


<div class="d-flex  justify-content-center">

<%= render "form", project: @project %>
</div>
<br>

<div class="d-flex justify-content-center">
  <%= link_to "Back to projects", projects_path, class: "btn btn-dark" %>
</div>
